.images-list-viz{
    column-width: 200px;
    margin: 0 15px;

    .ant-image{
        border: 1px solid #97c7ee;
        border-radius: 0.2em;
        background-color: #f8f8f8;
        padding: 0.40em;
    }

    .sceneStill{
         .ant-image{
            border: 1px solid #3399ff;
            background-color: #cce6ff;
        }
    }

    .poster{
         .ant-image{
            border: 1px solid #ff0000;
            background-color: #ff8080;
        }
    }

    .background{
         .ant-image{
            border: 1px solid #00c200;
            background-color: #00e600;
        }
    }
}

.images-list-empty{
    width:100%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
